
.textcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 3rem;
    width: 50%;
}

.ImageSection{
    display: flex;
    justify-content: center;
}